page-empresas {


    p {
        max-width: 190px; /* Tamanho */
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap
      }
    
     /* h1 {
        max-width: 210px; /* Tamanho 
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap
      } */
      img {
        margin-top: 5px;
    
      }
    
      .line {
        width: 90%; /* coloque aqui a largura da linha */
        border-top: 1px solid gray;
        list-style-type: none;
      }
      .top{
          margin-top: 8px;
      }
    
    }